<div class="landing" fxLaout="column">
    <!-- <mat-grid-list cols="11" rowHeight="600" class="grid">
        <mat-grid-tile colspan="3">
            <picture>
                <img mat-card-image height="600" src="../assets/img1.jpg" >
            </picture>
        </mat-grid-tile>

        <mat-grid-tile colspan="5">
            
            
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <picture>
                <img mat-card-image height="600" src="../assets/img4.jpg">
            </picture>
        </mat-grid-tile>
        
      </mat-grid-list> -->
      <div fxLayout="row" class="headline-container">
        <span class="headline">
        </span>
        <span class="headline">
            Syed 
        </span>
        <span class="headline">
            Intiser 
        </span>
        <span class="headline">
            Ahsan 
        </span>
        <span class="headline">
        </span>
    </div>

</div>

