<div class="about" fxLayout="row">
    
    <div fxLayout="column" class="all-text-container">
        <!-- <div class="title">
            About Me
        </div> -->


        <div fxLayout="row">
            <div fxLayout="column">
                <div class="text">
                    {{description}}
                     
                </div>
            </div>
            <!-- <div >
                <picture>
                    <img mat-card-image height="400" src="../assets/img1.jpg" >
                </picture>
            </div> -->

        </div>

        
        <!-- <div class="headline">
            
        </div>
        <div class="headline-second">
           
        </div>
        <div class="brief">
            
        </div> -->
    </div>

</div>

