<div class="experience" fxLayout="row">
    
    <div fxLayout="column" class="list">

        <div *ngFor="let item of tabsList" fxLayout="row" [class]="item.focus?'container-selected':'container'"  (touchstart)="mouseOver(item)"  (touchend)="mouseOut(item)"
         (mouseover)="mouseOver(item)" (mouseout)="mouseOut(item)" >
          <div class="year-container">
              <div fxLayout="row" class="year-container-inside">
                <div [class]="item.focus?'year-selected':'year'">
                  {{item.from}}
                </div>
                <div [class]="item.focus?'year-selected':'year'">
                  -
                </div>
                <div [class]="item.focus?'year-selected':'year'">
                  {{item.to}}
                </div>
              </div>
              
          </div>
          <div class="rest-container" fxLayout="column">
              <div [class]="item.focus?'title-selected':'title'">
                {{item.title}} 
              </div>
              <div class="subtitle">
                 {{item.label}}
              </div>
              <div fxLayout="row" class="description">
                {{item.description}}
              </div>
              <div fxLayout="row" class="tab-list">
                <div *ngFor="let tab of item.tab" class="tab">
                    {{tab}}
                </div>
              </div>

          </div>


        </div>
        
    </div>

</div>

