<div class="section" fxLayout="row">
    
    <div fxLayout="column" class="all-text-container">
        <div class="title">
            Contact
        </div>

        <div fxLayout="column">
         <div fxLayout="column" class="text-40">
                
              Whether you have a question or just want to say hi, my inbox is always open.
              I’ll try my best to get back to you as soon as possible!
                
            </div>
            <div class="section">
                <button mat-button color="primary">Primary</button>
            </div>

        </div>
        
    </div>

</div>

