
<div class="sidebar" *ngIf="!webpotrait">
    <app-sidebar></app-sidebar>
</div>
<div fxLayout="row" class="main" (scroll)="onScroll($event)" #element> 
    
    <div class="sider">

    </div>

    <div [fxLayout]="webpotrait?'column':'row'">

        <!-- [class]="webpotrait?'container-full':'container'" -->
        <div fxLayout="column" [class]="webpotrait?'container-full':'container'">

            <div class="container-item" *ngIf="webpotrait">
                <app-sidebar></app-sidebar>
            </div>

            <!-- <div id="first" (insideViewport)="onElementView($event)" (mousewheel)="onElementView($event)" (mousemove)="onElementView($event)" class="container-item"  #home>
                 <app-landing></app-landing> </div> -->
            
            <div (scroll)="onScroll($event)" class="container-item" #about>
                <app-about></app-about>
            </div>
            

            <div class="container-item"  #experience>
                <app-experience></app-experience>
            </div>

            <div class="container-item" #study>
                <app-study ></app-study>
                </div>

            <!-- <div class="container-item" #contact>
                <app-contact></app-contact> 
            </div> -->
        </div>

    </div>



    <!-- <div class="rounded" [style.top]="showY" [style.left]="showX" #child></div> -->

</div> 

