<!-- <button (click)="scroll(target)">Button</button> -->
<!-- <app-home></app-home>
<app-about></app-about>
<app-contact></app-contact>
<div #target>
<app-experience></app-experience>
</div>
<router-outlet></router-outlet> -->
<div fxLayout="row" class="example-container"> 
    
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav mode="side" class="sidebar" opened>
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <!-- <mat-sidenav mode="side" class="right-sidebar" position="end" opened>
            <app-right-sidebar></app-right-sidebar>
        </mat-sidenav> -->


        <mat-sidenav-content>
            <app-landing></app-landing>
            <app-home></app-home>
            <app-experience></app-experience>
            <app-about></app-about>
            <app-contact></app-contact> 
        </mat-sidenav-content>
    </mat-sidenav-container>

</div> 
