<!-- <button (click)="scroll(target)">Button</button> -->
<!-- <app-home></app-home>
<app-about></app-about>
<app-contact></app-contact>
<div #target>
<app-experience></app-experience>
</div>
<router-outlet></router-outlet> -->
<div fxLayout="row" class="example-container"> 
    
    <mat-sidenav-container #document class="example-sidenav-container">
        <mat-sidenav mode="side" class="sidebar" opened>
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <!-- <mat-sidenav mode="side" class="right-sidebar" position="end" opened>
            <app-right-sidebar></app-right-sidebar>
        </mat-sidenav> -->


        <mat-sidenav-content>
            <div class="container-item" #home> <app-landing></app-landing> </div>
            
            <div class="container-item" #about>
                <app-about></app-about>
            </div>
            <!-- <app-home></app-home> -->
            

            <div class="container-item" #experience>
            <app-experience></app-experience>
            </div>

            <div class="container-item" #study>
                <app-study></app-study>
                </div>

            <div class="container-item" #contact>
                <app-contact></app-contact> 
            </div>
            
            
        </mat-sidenav-content>
    </mat-sidenav-container>

</div> 
