<div class="sidebar" fxLayout="column">

    <div fxLayout="column" class="info">
        <div class="headline">
            Syed Intiser Ahsan
        </div>
        <div class="subtitle">
            Student At TU Chemnitz
        </div>
        <div class="ordinary-text">
            I build accessible, inclusive products and digital experiences for the web.
        </div>
    </div>
    <div class="sidebar-items" fxLayout="column">

        <div *ngFor="let item of array" class="custom-item-sidenav" fxLayout="row"  clickable (click)="clicked(item.page)" >
            <span [class]="className===item.page||item.mouse==true?'mat-item-left':'mat-item-left-blank'"></span>
            <!-- <span [class]="(className!==item.page && item.mouse==true)?'mat-item-left':'mat-item-left-blank'"></span> -->
            <span [class]="className===item.page||item.mouse==true? 'custom-item-selected':'custom-item'" (mouseover)="mouseOver(item)" (mouseout)="mouseOut(item)">
                {{item.title}}
            </span>
        </div>

    
    </div>
    <div fxLayout="row" class="bottom">
        <div *ngFor="let item of icon_array" class="icon_div">
            <span (mouseover)="mouseOver(item)" (mouseout)="mouseOut(item)">
                <img [src]="item.mouse?item.alter:item.path" width="30px" class="icon-color">
                <!-- <img *ngIf="item.mouse==true" [src]="item.alter" width="40%" class="icon-color"> -->
            </span>
        </div>
    </div>

    

</div>

<div class="theme-select" fxLayout="column">

    <div class="circeled" (mouseover)="mouseOverIcon()" (mouseout)="mouseOutIcon()" (click)="changeTheme()">
        <mat-icon *ngIf="selectedTheme == ThemeConstants.DARK" [class]="mouseOnIcon?'material-icons-filled icon-selected':'material-icons-outlined icon'">light_mode</mat-icon>
        <mat-icon *ngIf="selectedTheme == ThemeConstants.LIGHT" [class]="mouseOnIcon?'material-icons-filled icon-selected':'material-icons-outlined icon'">dark_mode</mat-icon>
        <!-- <mat-icon class="material-icons-filled">light_mode</mat-icon> -->
    </div>

    
</div>