
.experience{
    width: 100%;
    height:100%;
    overflow: hidden;
}

.all-text-container{
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left:15%;
    margin-bottom: 15%;
    margin-right: 15%;
    margin-top: 50px;
}

.title{
    font-size: 25px;
    text-align: left;
    font-style: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.experience{
  margin-top: 40px;
  font-size: 15px;
  text-align: left;
  font-style: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #eae1d9;
}

.text{
    margin-top: 40px;
    font-size: 15px;
    text-align: left;
    font-style: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #eae1d9;
    width: 600px;
}

.mat-tab-group {
    flex-direction: row !important;
}

.mat-tab-labels {
    flex-direction: column !important;
}

$primary-color: #f8bc49;

.mat-tab-label-active {
    border-right: 2px solid $primary-color !important;
}

.mat-ink-bar {
    display: none;
}

:host  .mat-tab-group {
    flex-direction: row;
  }
  :host .mat-tab-header {
    border-bottom: none;
  }
  :host .mat-tab-header-pagination {
    display: none !important;
  }
  :host .mat-tab-labels {
    flex-direction: column;
  }
  :host .mat-ink-bar {
    height: 100%;
    left: 98% !important;
  }
  :host .mat-tab-body-wrapper {
    flex: 1 1 auto;
  }